<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"C:\Users\Administrator\Workspaces\MyEclipse 8.5\Mybatis01\WebRoot\mybatis-3-mapper.dtd">

<mapper namespace="com.speed.mapper.ShareMapper">
	<resultMap type="com.speed.entity.ShareInfo" id="RoleResult">
	</resultMap>

	<select id="findRandomChar" parameterType="String" resultMap="RoleResult">
		select * from sc_share where random_char=#{random}
	</select>

	<insert id="saveShare" parameterType="com.speed.entity.ShareInfo">
		insert into `sc_share`
		(
		`user_name`,
		`random_char`,
		`create_time`,
		`file_path`,
		`validity_period`
		)
		values
		(
		#{userName},
		#{randomChar},
		NOW(),
		#{filePath},
		#{validityPeriod}
		)
	</insert>

</mapper>
